@media (min-width: 1200px) {
body {
//header
.top-nav {
  padding: 0 10%;
  h4 {
    width: 100%*(1/3);
    float: left;//CHANGED
    text-align: left;
    line-height: normal;
  }
  .menu {
    float: right;//CHANGED
    width: 100%*(2/3);//CHANGED
    font-size: 1.3em;//CHANGED
    line-height: 0;//CHANGED
    ul {
      width: 100%;
      margin-left: 0;
      padding: 0;//CHANGED
      li {
        width: 100%*(1/4);
        padding-bottom: 2ex;//CHANGED
        &:first-of-type {
          margin-left: 100%*(1/4);//CHANGED
        }
      }
    }
  }//END menu
}//END header

//hero
.hero-image {
  padding-bottom: 15ex;
  h1 {
    font-size: 4em;
}
  p {
    font-size: 1.5em;//CHANGED
  }
  div {
    a[href].button{
      font-size: 1.25em;//CHANGED
    }
  }
}//END hero

//triple image
.triple-image {
  padding: 5ex 10%;
  div {
    width: 100%*(2/3);//CHANGED
    float: right;//CHANGED
    padding: 5ex 6em 0;
    font-size: 1.2em;//CHANGED
  }
    img {
      width: 100%*(1/3);
      padding: 4ex 0;
    }
}//END triple-image

//bottom
.bottom {
//sidebar
  .sidebar {
    width: 100%*(4/15);//CHANGED
    li {
      padding: 2ex 2em 0 5em;
      font-size: 1.2em;//CHANGED
    }
  }//END sidebar

  //header
  .header {
    width: 100%*(11/15);//CHANGED
    padding: 2ex 15% 8ex 2.5em;
  }//END header
}//END bottom

//footer
  footer {
    padding: 2ex 0;
    .footer-links {
      width: 100%*(1/3);//CHANGED
      margin: 2ex 0 0 100%*(1/9);//CHANGED
      float: left;//CHANGED
      li {
        float: left;
        width: 100%*(1/4);
        margin-right: 100%*(1/12);
        font-size: 1.2em;
      }
    }
    .footer-icons {
      display: block;//CHANGED
      width: 100%*(1/3);//CHANGED
      margin: 0 0 0 100%*(2/9);
      padding: 0;//CHANGED
      float: left;//CHANGED
      img {
        margin: 0 3ex;
      }
    }
  }//END footer
}//END body
}//media
